@{
    ViewData["Title"] = "Analizar Sentimiento";
}

<h2>Analizar Sentimiento</h2>

<form method="post" asp-action="Predecir" asp-controller="Sentimiento">
    <textarea name="texto" rows="4" cols="50" placeholder="Escribe una opinión...">@ViewBag.TextoIngresado</textarea><br />
    <button type="submit">Analizar</button>
</form>

@if (ViewBag.Sentimiento != null)
{
    <div style="margin-top: 20px;">
        <strong>Resultado:</strong> @ViewBag.Sentimiento <br />
        <strong>Confianza:</strong> @ViewBag.Score
    </div>
}
